.App {
  text-align: center;
  background-image: url(/public/images/1140-drive-in-theater-ocala-fl.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  color: antiquewhite;
}
